/* Main body style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  min-width: 450px;
}
main {
  display: flex;
  flex-direction: row;
}
section {
  background-color: #eb0101;
  width: 100%;
}
section div {
  display: flex;
  background-color: aqua;
}
.middle-section {
  background-color: blue;
  width: 60%;
  height: 500px;
}
.right-section {
  background-color: #ffff;
  width: 40%;
}
