.top-content {
  display: flex;
  gap: 17px;
  align-items: center;
  font-size: 15px;
  padding-left: 20px;
  height: 80px;
  background-color: #fafafa;
}
p {
  padding: 0.2em 0.5em;
}
p i {
  margin-right: 3px;
}
.first-meal {
  border-radius: 20px;
  background-color: #44d187;
  color: #fafafa;
}
.first-meal i {
  padding: 0.2em;
  border-radius: 20px;
  background-color: white;
  color: #44d187;
}
.first-meal:hover {
  background-color: #47de90b3;
  cursor: pointer;
}
.before-training {
  padding: 0.3em 0.5em;
}
.before-training:hover {
  border-radius: 20px;
  background-color: #47de90b3;
  color: #fafafa;
  cursor: pointer;
}

.after-training {
  padding: 0.3em 0.5em;
}
.after-training:hover {
  border-radius: 20px;
  background-color: #47de90b3;
  color: #fafafa;
  cursor: pointer;
}

.check-out {
  width: 400px;
  background-color: aqua;
}
