/* Top content */
.top-content {
  display: flex;
  gap: 17px;
  align-items: center;
  font-size: 12px;
  padding-left: 20px;
  height: 80px;
  background-color: #fafafa;
}
p {
  padding: 0.2em 0.5em;
}
p i {
  margin-right: 3px;
}
.first-meal {
  border-radius: 20px;
  background-color: #44d187;
  color: #fafafa;
}
.first-meal i {
  padding: 0.2em 0.5em;
  border-radius: 20px;
  background-color: white;
  color: #44d187;
}
.first-meal:hover {
  background-color: #47de90b3;
  cursor: pointer;
}
.before-training {
  padding: 0.3em 0.5em;
}
.before-training:hover {
  border-radius: 20px;
  background-color: #47de90b3;
  color: #fafafa;
  cursor: pointer;
}
.after-training {
  padding: 0.3em 0.5em;
}
.after-training:hover {
  border-radius: 20px;
  background-color: #47de90b3;
  color: #fafafa;
  cursor: pointer;
}
/* filter content */
.filter-content {
  display: flex;
  height: 50px;
  font-size: 12px;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.meals-found span {
  font-weight: bold;
  padding-right: 5px;
}
.sort-menu a {
  padding: 0;
  margin: 0.5em;
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-transform: none;
}
.fa-sort-desc {
  margin-bottom: 5px;
  padding: 0.5em;
}

/* Main content */

.main-content {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  font-size: 14px;
  justify-content: center;
  background-color: blue;
}

.rating-info {
  display: flex;
  justify-content: space-between;
  background-color: #44d187;
}
.fa-star {
  margin: auto;
  color: yellow;
  background-color: black;
}
.rating {
  margin: 10px 10px;
  border-radius: 10px;
  background-color: black;
}

.fa-heart {
  margin: auto 10px;
  padding: 5px;
  border-radius: 20px;

  color: #fafafa;
}
.fa-heart:hover {
  color: #d74369;
  cursor: pointer;
}
.food-product-one {
  width: 250px;
  height: 330px;
  border-top: 10px;
  border-radius: 10px;
  background-color: aqua;
}
.food-product-two {
  width: 250px;
  height: 330px;

  border-radius: 10px;
  background-color: aqua;
}
.food-product-three {
  width: 250px;
  height: 330px;

  border-radius: 10px;
  background-color: aqua;
}
.food-product-four {
  width: 250px;
  height: 330px;

  border-radius: 10px;
  background-color: aqua;
}
.food-product-five {
  width: 250px;
  height: 330px;

  border-radius: 10px;
  background-color: aqua;
}
.food-product-six {
  width: 250px;
  height: 330px;

  border-radius: 10px;
  background-color: aqua;
}
.food-product-seven {
  width: 250px;
  height: 330px;

  border-radius: 10px;
  background-color: aqua;
}
.food-product-eight {
  width: 250px;
  height: 330px;

  border-radius: 10px;
  background-color: aqua;
}
.food-product-nine {
  width: 250px;
  height: 330px;
  border-radius: 10px;
  background-color: aqua;
}
